<h1>Add Person</h1>
<%= form_for @Person do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  <%= f.label :status %>
  <%= f.text_field :status %>
  <%= f.label :eye_color %>
  <%= f.text_field :eye_color %>
  <%= f.label :hair_color %>
  <%= f.text_field :hair_color %>
  <%= f.submit%>
<% end %>