<h1><%= @Person.full_name %></h1>
<h4>STATUS: <%= @Person.status %></h4>
<p>Age: <%= @Person.age %></p>
<p>Gender: <%= @Person.gender %></p>
<p>Eye Color: <%= @Person.eye_color %></p>
<p>Hair Color: <%= @Person.hair_color %></p>
<% link_to 'Back', person_path %>
